/*Formatações gerais*/
.justify {
  text-align: justify;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

*{
    scroll-behavior: smooth;
}

body{
    position: relative;
}

/*Navbar*/
.navbar-collapse {
  margin-left: -100px;
}
@media (max-width: 991px) {
  .navbar-collapse {
    margin-left: unset;
  }
}

.nav-link{
    margin: 0 15px;
    background: none;
}


/*Banner do topo da página*/
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(img/homicaindo.jpg);
  align-items: center;
}

.logo{
    margin-top: -10vh;
}

/*Cards de conteúdo*/
.containerCards {
  width: 100%;
  display: flex;
  justify-content: center;
}

.divCards {
  width: 80%;
  margin-top: -70px;
  padding-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.cardStart {
  background-color: #232124;
  text-align: center;
  height: 300px;
  justify-content: center;
  border: none;
}

@media (max-width: 800px) {
  .divCards {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: unset;
  }
}

@media (max-width: 1400px) {
  .cardStart {
    margin: 20px;
  }
}

@media (max-width: 500px) {
  .cardStart {
    margin: 20px 0;
  }
}
.cardLink {
  padding-right: 10px;
  color: white;
}
/*Textos com imagens*/
.txt-container {
  margin: 0 100px;
}

.img {
  max-height: 650px;
  height: 100%;
  max-width: 650px;
  width: 100%;
}

@media (max-width: 1350px) {
  .txt-img-1 {
    margin-top: 50px;
    display: flex;
    flex-direction: column-reverse;
  }
  .txt-img-2 {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
}

@media (max-width: 900px) {
  .txt-container {
    margin: 0 10px;
  }
}

/*accordion*/
.accordion-item {
  justify-content: space-between;
  text-decoration: none;
}

.accordion {
  margin: 0 60px;
  width: 50%;
}

.accordion-container {
  justify-content: space-between;
  margin-top: 50px;
  max-width: 1335px;
}

@media (max-width: 1300px) {
  .accordion-container {
    flex-direction: column;
    max-width: unset;
  }
  .accordion {
    width: 80%;
  }
  .accordion-img {
    margin: 50px 0;
  }
}

@media (max-width: 600px) {
  .accordion {
    width: 100%;
  }
}
/*Logos*/
.container-logos {
  background-color: #1b1c1d;
  display: flex;
  justify-content: space-around;
  padding: 0;
  flex-wrap: wrap;
  border-bottom: black 1px solid;
}

.div-logo {
  color: rgba(255, 255, 255, 0.514);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  height: 180px;
  width: 200px;
}

.div-logo:hover {
  color: rgba(255, 255, 255, 1);
  text-shadow: 0 0 80px #fff;
}

/*Image mosaic*/
.image-mosaic {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;
}

.mosaic-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #353535;
  font-size: 3rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 600px) {
  .card-tall-2 {
    grid-row: span 2 / auto;
  }

  .card-tall-3 {
    grid-row: span 3 / auto;
  }

  .card-wide-2 {
    grid-column: span 2 / auto;
  }

  .card-wide-3 {
    grid-column: span 3 / auto;
  }
}

/*Footer*/
.page-footer {
  color: white;
  padding-top: 20px;
  background-color: #1b1c1d;
}

.page-footer hr {
  background-color: #903004;
}

.footer-copyright {
  background-color: #464647;
  height: 50px;
}

svg {
  margin-right: 10px;
}
